

span {
    border: .1px rgb(100, 100, 100) solid;
    border-radius: 2rem;
    padding: 3px 30px;
    font-size: 1.2rem;
    color: rgb(70, 86, 226);
    background: none;
    margin: 1rem 0;
}

/* span:hover {
    background-color: #195fd01f;
    box-shadow: 0 0 5rem rgba(15, 15, 99, 0.801);
} */

.b1, .b2 {
    margin: 1rem .5rem;
}


.hi {
    background: none;
    font-size: 3rem;
}

.name {
    background: none;
    border:none;
    border-radius: 0;
    padding: 0;
    font-size: 5rem;
    color: #195fd0;
}


.Hero {
    background-image: url(../../Components/Photos/BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.Hero-Contant {
    height: 100vh;
    margin: -3rem 10rem;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 7rem;
}

.Left {
    background: none;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.leftp {
    background: none;
    width: 90%;
    text-align: left;
    margin-left: 2rem ;
    font-size: 1.2rem;
}

.dev {
    color: #72757a;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem 0;
    
}

.Right{
    background: none;
    margin: 2rem;
}

.Image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 3px #252627 solid;
    margin-right: 1rem;
    box-shadow: 0 0 3px #195fd0;
    opacity:.5;
}


.Image:hover {
    opacity:.7;
    box-shadow: 0 0 50px #195fd0;
}

.tech {
    margin: 1rem;
}

.work {
    font-size: 2rem;
    padding-top: 2rem ;
}


.icon{
    width: 20px;
    height: 20px;
    margin-right: 25px;
}

.html, .css, .js, .react {
    margin-right:1rem ;
    padding: 3px 1.2rem;
}

/* ---------------------------------- */
.secondDiv {
    background-image: url(../../Components/Photos/BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    margin-top: 5rem;
}

.secondDiv-h {
    font-size: 3.5rem;
    text-decoration: underline;
}

.me {
    font-size: 3.5rem;
    border: none;
    color: #195fd0;
    text-decoration: underline;
}

.secondDiv-span {
    border: none;
    font-size: 1.2rem;
    padding-left: .5px ;
}

.shadow {
    background-color: #0d1521;
    height: 65vh;
    margin: 5rem 10%;
    border-radius: 2rem;
    position: relative;
}

.about {
    background: none;
    width: 100%;
    height: 65vh;
    margin: 6rem 10%;
    border-radius: 2rem;
    border: 1px rgb(54, 53, 53) solid;
    bottom: 2rem;
    position: absolute;
    bottom: -5rem;
    left: -8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.left {
    margin: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: start;
    background: none;
}


.top-l {
    background: none;
}

.top-l-h {
    background: none;
    text-align: start;
    text-decoration: underline;
}

.top-l-p {
    background: none;
    text-align: start;
    padding: 20px 30px;
    font-size: 1.2rem;
}

.down-l {
    border-radius: 1rem;
    border: 1px #72757a solid;
    text-align: start;
    width: 95%;
    padding-top: 1rem;
    padding-left: 2rem;
}

.down-l-h {
    font-size: 25px;
    background: none;
    text-align: start;
}

.down-l-div {
    background: none;
    text-align: start;
    padding: 1rem 2rem;
}

.down-l-div span {
    border: none;
    background: none;
    color: #195fd0;
    font-size: 1.25rem;
}

.down-l-div p {
    background: none;
}

.right {
    margin: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: start;
    background: none;
}

.top-r {
    width: 92%;
    background-image: url(../../Components/Photos/BG.png);
    background-repeat: no-repeat;
    border: 1px #082046 solid;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem ;
}

.top-r-h {
    background: none;
    font-size: 1.8rem;
    text-align: start;
}

.top-r-div {
    background: none;
    text-align: start;
}
.top-r-div div {
    background: none;
}

.top-r-div div p {
    background: none;
}

.down-r {
    background: none;
    border-radius: 1rem;
    border: 1px #72757a solid;
    margin: 1rem;
    padding: 1rem ;
}

.down-r:hover {
    border: 1px #082046 solid;
    color: #195fd0;
    background-color: #020a1871;
}

.down-r-h {
    background: none;
    font-size: 1.5rem;
    color: #72757a;
}

.down-r-p {
    background: none;
    font-size: 1rem;
}

.aad {
    color: #195fd0;
    border: none;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 500;
}