.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1% 10%;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  background-color: #0d1117;
  position: sticky;
  top: 0;
  z-index: 1000;
  .logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    .Dot {
      color: #195fd0;
      font-size: 2rem;
    }
  }
  .nav {
    display: flex;
    gap: 20px;
    list-style: none;
    li a {
      color: #858c97;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: #195fd0;
        text-decoration: underline;
      }
    }
  }

  .social {
    color: #858c97;
    i {
      font-size: 1.3rem;
      padding-left: 1rem;
    }
  }

  .menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    padding: 0.5rem 2rem;
    font-size: 1rem;

    .nav {
      display: none;
      width: 50%;
      flex-direction: column;
      background-color: #0d1117;
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 15px;
      border-radius: 10px;
      &.open {
        display: flex;
      }
    }

    .social {
      display: none;
    }

    .menu-icon {
      display: block;
    }
  }
}
