.Header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin: 0 10rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Link {
    margin: 1rem;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-style: italic;
}

.Link:hover {
    color: #195fd0;
    text-decoration: underline;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    font-style: italic;
    font-family: primary;
    color: white;
    text-decoration: none;
}

.Dot {
    color: #195fd0;
    font-size: 2rem;
    border: none;
    padding: 0;
}